@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(-135deg,#c850c0,#4158d0);
}

button{
position: relative;
display: inline-block;
padding: 12px 36px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 2px;
border: none;
border-radius: 40px;
overflow: hidden;
background: linear-gradient(90deg,#755bea,#ff72c0);
} 

span{
position: absolute;
background:#fff ;
transform: translate(-50%,-50%);
border-radius: 50%;
animation: animate 0.5s linear infinite;
}

@keyframes animate{

    0%
    {
width: 0px;
height: 0px;
opacity: 0.5;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
            }
}

input {
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    
} 

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
  .wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
}
  .wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}
  .wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}

h1{
    position: absolute;
    top: 50px;
    font-size: 120px;
    background: -webkit-linear-gradient(#FD49A0, #B4FEE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}